body{
    display: block;
    margin:0%;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}
.page1{
    display: block;
    background-image: url(p11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 750px;
 
}
.page1 .center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.navbar1{
    position: absolute;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: white;
    margin-bottom: 9%;
    }
.navbar1 ul{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    list-style-type: none;
    overflow: hidden;
    width:100%;
    padding: 0;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 0%;
}
.navbar1 li{
    font-size: 25px;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    justify-content: space-between;

}
.page1title{
    color: white;
    width: 40%;
    height: auto;
    font-size: 60px;
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
   text-align: center;
   margin-bottom:5%;
}
.page1undertitle{
    color: white;
    width: 50%;
    height: 4%;
    font-size: 12px;
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
   text-align: center;
   font-family:'Courier New', Courier, monospace;
   margin-bottom: 9%;
}
.page1buttondiv{
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: center;
}
.page1button{
    background-color:rgb(0, 166, 81);
    border: 1px rgb(0, 166, 81);
    border-radius: 25px;
    width: 15%;
    color: white;
    font-size: 20px;
}
.page2{
    margin-top: 2%;
    display: block;
    background-color: white;
    width: 100%;
    height: 750px;


}
.page2half1{
    display: flex;
    width: 100%;
    height: 40%;
    background-color: white;
    flex-wrap: wrap;
}
.page2half1title{
    display: flex;
    text-align: center;
    width: 100%;
    height:20%;
    justify-content: center;
    font-size: 25px;
    line-height: 200%;
}
.page2half1box{
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 80%;
}
.page2half1box section{
background-color: white;
    width: 25%;
    height: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(179, 179, 179);
    display: flex;
    flex-direction: column;
}
.page2half2{
    display: flex;
    width: 100%;
    height:60%;
    background-color: wheat;
    flex-wrap: wrap;
}
.p2svg1{
    fill:#32df8f ;
}
.p2svg2{
    fill:#00b8e0 ;
}
.p2svg3{
    fill:#e48b78 ;
}